@import '../mixins/main.sss'

@define-mixin icon $name
  padding-left: 20px
  &::after
    content: '$name'

:root
  --mainColor: red
  --column: 100px

.pizdets
  size: calc(2 * var(--column)) var(--cga)
  color: var(--mainColor)
  clear: fix
  display: flex
  background: hsl(134, 50%, 50%)
  margin: 0 30px

  &__item
    color: yellow
    &:hover
      color: black

    &_modify
      color: white
      @mixin icon search


