/* ver. 0.0.1 */
@import 'include.sss'

@define-mixin icon $name
  padding-left: 20px
  &::after
    content: '$name'

:root
  --mainColor: var(--red)
  --column: 100px

.pizdets
  color: var(--mainColor)
  clear: fix
  display: flex
  width: calc(2 * var(--column))
  background: hsl(134, 50%, 50%)
  margin: 0 30px

  &__item
    color: yellow
    &:hover
      color: black

    &_modify
      color: white
      @mixin icon search


