<%= content_for :title, name %>
<div id='application'>
  <noscript>
    <h1>Для полноценного использования нашего сервиса Вам необходимо включить поддержку JavaScript в вашем браузере!</h1>
    <div>
      <%= render "front/#{name}" %>
    </div>
  </noscript>
</div>
