<!DOCTYPE html>
<html>
  <head>
    <title>WebpackRails</title>
    <%= csrf_meta_tags %>
    <!--<script src="http://localhost:35729/livereload.js"></script>-->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', media: 'all', defer: 'defer', async: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
